* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.flex {
    display: flex;
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 0 280px;
    padding-bottom: 135px;
}

.hero a{
    text-decoration: none;
    color: white;
}

.header {
    padding: 25px 0;
    align-items: center;
}

.header .links {
    color: #6d747d;
    font-size: 24px;
    margin-left: auto;
    gap: 36px;
}

.hero-content {
    gap: 60px;
    margin-top: 135px;
}

.hero-main-text {
    font-size: 58px; /* 48 in specs */
    font-weight: bold;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 26px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

.hero-left {
    flex-grow: 1;
}

.hero-image {
    min-width: 50%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    padding: 8px 40px;
    border-width: 0px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
}

.image-container {
    padding-bottom: 100px;
}

.image-container h1 {
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
}

.cards {
    justify-content: center;
    gap: 50px;
}

.card {
    width: 152px;
    text-align: center;
}

.card-image {
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 13px;
}

.quote-section {
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 130px 0 100px 0;
    color: #1f2937;
}

.quote-container {
    width: 40%;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.autor {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}